@model AppointmentManager.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Personal settings";
}


<h2>User personal settings</h2>

@using (Html.BeginForm("ChangePasswordAction", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="Password">New password</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-success" value="Save changes" />
                </div>
            </div> 
        </div>
    </div>
}