
.btn-action
{
    font-size:14px;
    margin:3px;
    padding-top:3px;
    padding-bottom:3px;
    font-weight:500;
}


.btn-warning {
    background-color: #eca909;
    color:#212529;
}

.btn-warning:hover {
    color:#212529;
}


/*.btn-warning:hover {
    background-color: #2b6c3c;
}

.btn-danger
{
    background-color:#c82333;
}

.btn-info
{
    background-color:#f9c121;
}*/